{% import "macros.j2" as _etcd with context %}
{% if etcd_ca_setup %}
ETCD_CA_FILE={{_etcd.ca_file()}}
ETCD_CERT_FILE={{_etcd.cert_file()}}
ETCD_KEY_FILE={{_etcd.key_file()}}
{% endif %}
ETCD_ENDPOINTS={{_etcd.peers()}}
